// Place all the styles related to the Musicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: sans-serif;
$primary-color: #4455BB;
$secondary-color: #334455;
$contrast-color: white;

* {
	margin: 0;
	padding: 0;
}

@media (max-width: 600px) {
	body {
		padding: 1em;
	}
}

@media (min-width: 601px) {
	body {
		position: relative;
	}

	/* orchestra */
	#orchestra {
		svg {
			display: block;

			width: 900px;
			height: 500px;

			margin: 1em auto;

			border: 1px solid black;

			z-index: 1;
		}

		.popup {
			position: absolute;
			left: -200px;
			top: 0px;

			width: 80px;
			padding: 10px;

			border: 1px solid gray;
			background-color: rgba(0,0,0,.8);
			color: white;

			z-index: 0;
		}
	}

	/* payment experience */
	#checkout {
		display: none;

		width: 20em;
		margin: 1em;

		position: fixed;
		top: 10%;
		left: 50%;
		margin-left: -10em;

		border: 1px solid #CCC;
		background-color: white;

		z-index: 10;

		.close-button {
			font-size: 24pt;
			margin: 5px -5px;

			width: 100%;
			text-align: right;

			&:hover {
				cursor: pointer;
				color: red;
			}
		}

		#checkout-form {
			margin: 1em;

			button {
				padding: 1em 0;
				width: 100%;

				background-color: $primary-color;
				color: $contrast-color;
				border: none;

				cursor: pointer;
			}
		}

		#details {
			margin: 1em;

			input {
				margin-top: 1em;
				font-size: 16px;

				border: none;
				outline: none;
				border-bottom: 1px solid black;

				padding-bottom: 4px;
			}
		}
		}

	/* just an obnoxious thing to block the screen and prevent interactivity */
	#lightbox {
		display: none;

		background-color: rgba(255,255,255,.5);

		position: fixed;
		top: 0;
		left: 0;

		height: 100%;
		width: 100%;

		z-index: 5;
	}
}