<!DOCTYPE html>
<html>
<head>
  <title>Sponsor a Musician: Seattle Collaborative Orchestra</title>

  <meta name="description" content="An unusual fundraising campaign for an inter-generational orchestra.">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
